<div class="about-container">
    <div class="about-me">
        <h1 *ngIf="language === 'pt'" class="title">{{text.title[0]}}</h1>
        <h1 *ngIf="language === 'en'" class="title">{{text.title[1]}}</h1>
        <p>Graduando em Análise e Desenvolvimento de Sistemas, com
            conhecimento em Javascript, C++ e Python. Programador ousado
            e interessado em adquirir cada vez mais conhecimento.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam corrupti velit temporibus nulla accusamus, ducimus, eius dolorum veritatis quibusdam explicabo enim ad necessitatibus impedit tempore consequatur eos culpa animi minus.</p>
    </div>
    <div class="technologies">
        <div>
            <div class="tech">HTML 5</div>
            <fa-icon class="icon" [icon]="faHtml5"></fa-icon>
        </div>
        <div>
            <div class="tech">CSS 3</div>
            <fa-icon class="icon" [icon]="faCss3"></fa-icon>
        </div>
        <div>
            <div class="tech">Javascript</div>
            <fa-icon class="icon" [icon]="faJsSquare"></fa-icon>
        </div>
        <div>
            <div class="tech">NodeJs</div>
            <fa-icon class="icon" [icon]="faNodeJs"></fa-icon>
        </div>
        <div>
            <div class="tech">React</div>
            <fa-icon class="icon" [icon]="faReact"></fa-icon>
        </div>
        <div>
            <div class="tech">Angular</div>

            <fa-icon class="icon" [icon]="faAngular"></fa-icon>
        </div>
    </div>
</div>