.title {
    padding: 2.5rem;
    font-family: var(--font-basic);
    font-size: clamp(1em, 7.5vmax, 5em);
    color: inherit;
    position: relative;
}

.title::before {
    content: '<h1>';
    color: var(--cyan-9);
    font-family: fantasy;
    font-size: clamp(0.5em, 1vmax, 2.5em);
    position: absolute;
    top: -20px;
    opacity: 0.6;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #05ec8080, 0 0 40px #05ec8080, 0 0 50px #05ec8080, 0 0 60px #05ec8080, 0 0 70px #05ec8080;
}

.title::after {
    content: '</h1>';
    color: var(--cyan-9);
    font-family: fantasy;
    font-size: clamp(0.5em, 1vmax, 2.5em);
    position: absolute;
    bottom: -20px;
    opacity: 0.6;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #05ec8080, 0 0 40px #05ec8080, 0 0 50px #05ec8080, 0 0 60px #05ec8080, 0 0 70px #05ec8080;
}

.technologies {
    display: grid;
    grid-template-columns: repeat(3, 25vmax);
    grid-template-rows: repeat(2, 25vmax);
    place-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
    background: rgba(255, 255, 255, 0.4);
    font-size: clamp(1em, 7.5vmax, 7.5em);
}

.technologies :nth-child(1) {
    color: #dd0031;
}
.technologies :nth-child(2) {
    color: #f06529;
}
.technologies :nth-child(3) {
    color: #28a4d9;
}
.technologies :nth-child(4) {
    color: #5ed4f4;
}
.technologies :nth-child(5) {
    color: #efd81d;
}
.technologies :nth-child(6) {
    color: #ec4d28;
}