.home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 85vw;
    height: 100%;
    gap: 0.5rem;
}

.sub-title {
    padding: 2.5rem;
    font-family: var(--font-basic);
    font-size: clamp(16px, 7.5em, 4vmax);
    font-weight: 400;
    font-style: italic;
    color: inherit;
}

.image > img {
    max-height: 50vh;
    border-radius: 50%;
    padding-right: 2rem;
}

@media (width < 600px) {
    .home-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        transform: translateY(-15%);
    }

}