.aside {
    background: var(--gradient-8);
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    position: relative;
}

.aside > a {
    text-decoration: none;
}

.logo>img {
    margin: 0 auto;
    width: clamp(2em, 10vw, 3.5em);
    border-radius: 50%;
}

.aside .icon {
    font-size: clamp(2em, 3vw, 3.5em);
    cursor: pointer;
    text-align: center;
    transition: all 300ms linear;
}

.aside .icon:hover {
    transform: scale(150%);
    color: var(--orange-6);
}

.aside .icon::before {
    content: attr(data-content);
    color: var(--orange-6);
    font-size: 0.75rem;
    display: none;
}

.aside .icon:hover::before {
    display: block;
    animation:
        var(--animation-ping) forwards;
    animation-timing-function: var(--ease-squish-3);
    animation-duration: 2s;
}

.theme {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--orange-6);
}

.theme:hover {
    box-shadow: rgba(5, 236, 128, 0.5) 0px -23px 25px 0px inset, rgba(5, 236, 128, 0.5) 0px -36px 30px 0px inset, rgba(5, 236, 128, 0.5) 0px -79px 40px 0px inset, rgba(5, 236, 128, 0.5) 0px 2px 1px, rgba(5, 236, 128, 0.5) 0px 4px 2px, rgba(5, 236, 128, 0.5) 0px 8px 4px, rgba(5, 236, 128, 0.5) 0px 16px 8px, rgba(5, 236, 128, 0.5) 0px 32px 16px;
}

@media (width < 600px) {
    .aside {
        width: 100vw;
        max-height: 7.5vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5rem;
    }

    .logo>img {
        display: none;
    }

    .aside .icon {
        font-size: 1.5em;
        cursor: pointer;
        text-align: center;
    }

    .aside .icon:hover {
        transform: scale(90%);
        color: var(--orange-6);

    }

    .aside .icon::before {
        content: attr(data-content);
        color: var(--orange-6);
        font-size: 0.75rem;
        display: none;
    }

    .aside .icon:hover::before {
        display: block;
        animation: none;
    }
}