<aside class="aside">
    <div (click)="changeText()" class="logo">
        <img  *ngIf="language === 'pt'" src={{br}} alt="">
        <img  *ngIf="language === 'en'" src={{gb}} alt="">
        <h3>{{language}}</h3>
    </div>
    <a class="icon"
        [attr.data-content]="text.home" routerLink="/">
        <fa-icon [icon]="faHome"></fa-icon>
    </a>
    <a class="icon" [attr.data-content]="text.about" routerLink="about">
        <fa-icon [icon]="faAddressCard"></fa-icon>
    </a>
    <a class="icon" [attr.data-content]="text.contact" routerLink="contact">
        <fa-icon [icon]="faAddressBook"></fa-icon>
    </a>
    <a class="icon" data-content="Github" href="https://github.com/rochasemerson" target="_blank">
        <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a class="icon" data-content="LinkedIn" href="https://www.linkedin.com/in/emerson-rocha-8bb4bb235/" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
    <button *ngIf="!dark" (click)="changeTheme('light', $event)">
        <fa-icon class="theme" [icon]="faSun"></fa-icon>
    </button>
    <button *ngIf="dark" (click)="changeTheme('dark', $event)">
        <fa-icon class="theme" [icon]="faMoon"></fa-icon>
    </button>
</aside>